body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  box-sizing: "border-box";
}

h2 {
  font-family: 'Press Start 2P', cursive;
}

label, p, h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 9pt
}

/* .button {
  background:blue;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 15px;
  padding: 7px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none; 
  color: white;
} */