body, .review, .comment {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  box-sizing: "border-box";
}


*:not(span) {
  color: white
}


.review, .comment {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 16pt;
}


label, h1, h2, h3, h5, h6 {
  font-family: 'Press Start 2P', cursive;
}

p {
  font-family: 'Press Start 2P', cursive;
  font-size: 10pt;
}


.btn-nes {
  margin: 5px;
  background:black;
  text-align: center;
  font-size: 10pt;
  padding: 8px;
  font-family: 'Press Start 2P', cursive;
  color: white;
  border: white;
  outline: 2px solid white;
}

.primary:hover {
  outline: 2px solid #fff;
  color: white;
  background-color: green;
  font-size: 10pt;
}

.secondary:hover {
  outline: 2px solid #fff;
  color: white;
  background-color: blue;
  font-size: 10pt;
}

.delete:hover {
  outline: 2px solid #fff;
  color: white;
  background-color: red;
  font-size: 10pt;
}

.btn-nes:focus {
  color: white;
  border-color: white;
  font-size: 10pt;
  outline: 4px solid #fff;
}

.btn-nes:active {
  outline: 4px solid #fff;
  color: black;
  background-color: white;
  font-size: 10pt;
}


.card {
  margin: 1%;
  padding: 1.3%;
  width: 10em; 
  height: 14em; 
  background-color: #E5E3E3;
  box-shadow: 5px 4px grey;
  overflow: hidden;
}

.card:hover {
  box-shadow: 6px 5px #0275d8;
  transform: translateY(3px);
}


.user-thumb {
  width: 128px;
  height: 128px;
  border: 4px solid white;
  border-radius: 3%;
}

.user-thumb:hover {
  box-shadow: 4px 3px #0275d8;
  transform: translateY(1px);
}


@media (max-width: 800px) {
  .user-thumb{  
    width: 64px;
    height: 64px;
  }
}

@media (max-width: 450px) {
  .user-thumb{  
    width: 32px;
    height: 32px;
    border: 2px solid white;
  }
}

@media (max-width: 300px) {
  .user-thumb{  
    display: none;
  }
}


.fade-in {
    animation: fadeIn ease .7s;
  }

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.slide-in {
  animation-duration: .7s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.slide-from-bottom {
  animation-duration: .7s;
  animation-name: slidefrombottom;
}

@keyframes slidefrombottom {
  from {
    margin-top: 100%;
    height: 300%; 
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
}
